__pycache__
_build/*
*_temp

*db
*db.bak
*db-shm
*db-wal
*gz
# *jsonl
*log

.backups
.DS_Store
.coverage
.edsl_cache/*
.env
.ipynb_checkpoints/
.mypy_cache
.pytest_cache
.temp
.venv
docs/_build/
dist
htmlcov
prof
tests/temp_outputs
myvenv/
venv/
# exceptions
!edsl/utilities/data/*.json
!.vscode/settings.json

.edsl_cache/
game.py
.running.jsonl
experiment_logs/V0/*
experiment_logs/V01/*
analysis/mad_2p_compare*

test_random.py
analysis/*